* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(184, 219, 184, 0.712);
}

h1 {
    font-size: 1.5em;
}

.welcome-message, .log-in {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#enter_forest, #feed-forest {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*https://wallpaperaccess.com/fairy-forest both backgrounds from here*/
#index-page {
    background: url("./images/index-page-background.jpeg");
    background-size: cover;
}
    
