* {
    font-family: 'Kiwi Maru', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 1.5em;
}

.welcome-message, .log-in, .forest  {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(184, 219, 184, 0.712);
    width: 40%;
    margin: auto;
    padding-bottom: 5%;
}

/*Navigation buttons */
#enter_forest, #feed-forest {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*https://wallpaperaccess.com/fairy-forest both backgrounds from here*/
/*log in page - index.html*/
#index-page {
    background: url("../images/index-page-background.jpg") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/*input page - forest-gate-input.html*/
#forest-gate {
    background: url("../images/foreststage0.png") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
 /*actual forest - forest.html*/   
#base-page {
    background: url("../images/foreststage0.png") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.bg-img {
    /* The image used */

    /*can change min-height back, but when it was set to pixels it threw everything
    off the bottom of the screen*/
    min-height: 6em;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}
  
/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 20px;
    width: 100%;
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: rgb(253, 234, 234);
}

/* Navbar links */
.topnav a {
    float: left;
    color: #332d2d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(211, 195, 195);
    color: black;
}

/*current score to be on the far right of nav bar*/
#show-score {
    float: right;
    margin-right: 10%;
}

